@use 'variables/font';
@use 'variables/color';
@use 'functions' as fn;

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

html,
body {
	font-family: font.$primary;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.35;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::selection {
	background-color: color.$theme;
	color: #FFF;
}

/// Konvertiert alle SCSS Farbvariablen in CSS Variablen und fügt sie dem :root hinzu
$all-colors: fn.map-collect(color.$theme-colors, color.$link-colors, color.$grays);

:root {
	@each $name, $color in $all-colors {
		--#{$name}: #{$color};
	}
}
