@use 'variables/fonts' as font;
@use 'variables/colors' as color;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: font.$primary;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.35;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::selection {
	background-color: color.$theme;
	color: #FFF;
}
