@use 'sass:color';

$theme: #009EE3 !default;
$theme-dark: color.adjust($theme, $lightness: -10%);

$theme-colors: (
	'theme': 		$theme,
	'theme-dark': 	$theme-dark,
) !default;

$text: #133324 !default;

// Linkfarben
$link-default: 		$theme !default;
$link-visited: 		$theme-dark !default;
$link-hover: 		$text !default;
$link-focus: 		$text !default;
$link-active: 		#000 !default;

$link-colors: (
	'link-default': 	$link-default,
	'link-visited': 	$link-visited,
	'link-hover': 		$link-hover,
	'link-focus': 		$link-focus,
	'link-active': 		$link-active,
) !default;

// Graustufen
$gray-100: #F8F9FA !default;
$gray-200: #E9ECEF !default;
$gray-300: #DEE2E6 !default;
$gray-400: #CED4DA !default;
$gray-500: #ADB5BD !default;
$gray-600: #6C757D !default;
$gray-700: #495057 !default;
$gray-800: #343A40 !default;
$gray-900: #212529 !default;

$grays: (
	'gray-100': $gray-100,
	'gray-200': $gray-200,
	'gray-300': $gray-300,
	'gray-400': $gray-400,
	'gray-500': $gray-500,
	'gray-600': $gray-600,
	'gray-700': $gray-700,
	'gray-800': $gray-800,
	'gray-900': $gray-900,
) !default;
