$primary: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;

$text-xs:	12px;
$text-s:	14px;
$text-m:	16px;
$text-l:	18px;
$text-xl:	20px;

$headline-s:	24px;
$headline-m:	28px;
$headline-l:	40px;
$headline-xl:	50px;
