$fallback: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif !default;
$primary: null !default;

$text-xs:	12px !default;
$text-s:	14px !default;
$text-m:	16px !default;
$text-l:	18px !default;
$text-xl:	20px !default;

$headline-s:	24px !default;
$headline-m:	28px !default;
$headline-l:	40px !default;
$headline-xl:	50px !default;
