@use '../variables/color';
@use '../variables/font';

.u-close-button {
	--spacing-inner-horizontal: var(--spacing-inner-vertical);
	--size-font: #{font.$text-s};

	&:not(:focus-visible) {
		--color-border: transparent;
		--color-background: transparent;
	}

	&:active {
		--color-active-text: #{color.$link-default};
		--color-active-background: transparent;
		--color-active-border: transparent;
	}
}
