@use '../functions' as fn;
@use '../variables/colors' as color;
@use '../variables/base' as base;

.c-alert {
	--spacing-inner-vertical: #{fn.spacing(1.5)};
	--spacing-inner-horizontal: calc(var(--spacing-inner-vertical) * 1.25);
	--spacing-outer-vertical: #{fn.spacing(1.5)};
	--spacing-outer-horizontal: 0;
	--size-font: 1rem;
	--width-border: 1px;
	--style-border: solid;
	--color-text: #{color.$gray-900};
	--color-border: #{color.$gray-400};
	--color-background: #{color.$gray-200};

	padding: var(--spacing-inner-vertical) var(--spacing-inner-horizontal);
	margin: 0 var(--spacing-outer-horizontal);
	color: var(--color-text);
	border: var(--width-border) var(--style-border) var(--color-border);
	background-color: var(--color-background);
	border-radius: base.$corner-radius;
	font-size: var(--size-font);

	&:not(:first-child) {
		margin-top: var(--spacing-outer-vertical);
	}

	&:not(:last-child) {
		margin-bottom: var(--spacing-outer-vertical);
	}

	a {
		color: var(--color-text);
		text-decoration: underline;
		font-weight: 500;

		&:hover {
			text-decoration: none;
		}
	}

	&__icon {
		margin-right: var(--spacing-inner-vertical);
	}

	&--primary {
		--color-text: #084298;
		--color-border: #B6D4FE;
		--color-background: #CFE2FF;
	}

	&--success {
		--color-text: #0F5132;
		--color-border: #BADBCC;
		--color-background: #D1E7DD;
	}

	&--danger {
		--color-text: #842029;
		--color-border: #F5C2C7;
		--color-background: #F8D7DA;
	}

	&--warning {
		--color-text: #664D03;
		--color-border: #FFECB5;
		--color-background: #FFF3CD;
	}

	&--info {
		--color-text: #055160;
		--color-border: #B6EFFB;
		--color-background: #CFF4FC;
	}

	&.has-icon {
		display: flex;
		align-items: center;
	}
}
