@use 'sass:list';

@use '../functions' as fn;
@use '../variables/base';
@use '../variables/font';
@use '../variables/color';
@use '../variables/transition';

$button-types: (
	'primary',
	'secondary',
	'success',
	'danger',
	'warning',
	'info',
	'outline',
	'large',
	'small',
) !default;

.c-button {
	--spacing-inner-vertical: #{fn.spacing()};
	--spacing-inner-horizontal: calc(var(--spacing-inner-vertical) * 2);
	--size-font: 1rem;
	--width-border: 1px;
	--style-border: solid;
	--color-text: #{color.$gray-900};
	--color-border: #{color.$gray-400};
	--color-background: #{color.$gray-200};
	--color-hover-text: var(--color-text);
	--color-hover-border: var(--color-border);
	--color-hover-background: var(--color-border);
	--color-focus-text: var(--color-text);
	--color-focus-border: var(--color-border);
	--color-focus-background: var(--color-background);
	--color-active-text: #FFF;
	--color-active-border: #{color.$gray-900};
	--color-active-background: #{color.$gray-800};

	padding: var(--spacing-inner-vertical) var(--spacing-inner-horizontal);
	color: var(--color-text);
	border: var(--width-border) var(--style-border) var(--color-border);
	background-color: var(--color-background);
	border-radius: base.$corner-radius;
	font-size: var(--size-font);
	font-family: font.$primary;
	font-weight: 500;
	box-shadow: 0 0 0 2px transparent;
	outline: none;
	transition-property: border-color, color, background-color, box-shadow;
	transition-duration: transition.$speed-fast;
	text-decoration: none;
	display: inline-block;

	&:not(:disabled) {
		cursor: pointer;

		&:hover {
			color: var(--color-hover-text);
			border: var(--width-border) var(--style-border) var(--color-hover-border);
			background-color: var(--color-hover-background);
		}

		&:focus-visible {
			color: var(--color-focus-text);
			border: var(--width-border) var(--style-border) var(--color-focus-border);
			background-color: var(--color-focus-background);
			box-shadow: 0 0 0 2px var(--color-focus-border);
		}

		&:active {
			color: var(--color-active-text);
			border: var(--width-border) var(--style-border) var(--color-active-border);
			background-color: var(--color-active-background);
			transition-duration: transition.$speed-instant;
		}
	}

	&:disabled {
		opacity: .7;
		cursor: not-allowed;
	}

	@if list.index($button-types, 'primary') {

		&--primary {
			--color-text: #FFF;
			--color-border: #{color.$theme-dark};
			--color-background: #{color.$theme};
		}
	}

	@if list.index($button-types, 'secondary') {

		&--secondary {
			--color-text: #FFF;
			--color-border: #{color.$gray-700};
			--color-background: #{color.$gray-600};
		}
	}

	@if list.index($button-types, 'success') {

		&--success {
			--color-text: #FFF;
			--color-border: #115A38;
			--color-background: #198754;
		}
	}

	@if list.index($button-types, 'danger') {

		&--danger {
			--color-text: #FFF;
			--color-border: #A91E2C;
			--color-background: #DC3545;
		}
	}

	@if list.index($button-types, 'warning') {

		&--warning {
			--color-text: #000;
			--color-border: #E09900;
			--color-background: #FFC107;
		}
	}

	@if list.index($button-types, 'info') {

		&--info {
			--color-text: #FFF;
			--color-border: #117C8D;
			--color-background: #17A2B8;
		}
	}

	@if list.index($button-types, 'outline') {

		&--outline {
			--color-hover-background: var(--color-background);
			--color-hover-border: var(--color-hover-background);
			--width-border: 1px;

			background-color: transparent;
			color: var(--color-border);
		}
	}

	@if list.index($button-types, 'large') {

		&--large {
			--spacing-inner-vertical: #{fn.spacing(1.25)};
			--size-font: 1.2rem;
		}
	}

	@if list.index($button-types, 'small') {

		&--small {
			--spacing-inner-vertical: #{fn.spacing(.5)};
			--size-font: .8rem;
		}
	}

}
