@use 'sass:list' as s-list;

@use '../functions' as fn;
@use '../mixins' as mx;
@use '../variables/base';
@use '../variables/color';
@use '../variables/font';
@use '../variables/global-config';

/// Module config
$rounded: true !default;

$card-types: (
	'horizontal'
) !default;

.c-card {

	--spacing-inner: #{fn.spacing(1.5)};
	--spacing-elements: #{fn.spacing()};
	--color-background: #FFF;
	--color-text: #{color.$text};
	--color-text-footer: #{color.$gray-600};
	--color-border: #{color.$gray-300};
	--width-border: 1px;
	--style-border: solid;
	--size-headline: #{font.$text-xl};
	--size-text: #{font.$text-m};
	--corner-radius: #{base.$corner-radius};

	padding: var(--spacing-inner);
	color: var(--color-text);
	border: var(--width-border) var(--style-border) var(--color-border);
	background-color: var(--color-background);
	max-width: max-content;

	@if fn.global-or-local(global-config.$rounded, $rounded) {
		border-radius: base.$corner-radius;
	}

	&__image,
	&__title,
	&__text,
	&__body {

		&:not(:last-child) {
			margin-bottom: var(--spacing-elements);
		}
	}

	&__image {
		border-radius: calc(var(--corner-radius) * .75);
	}

	&__title {
		line-height: 1.15;
		font-size: var(--size-headline);
	}

	&__text {
		font-size: var(--size-text);
	}

	&__footer {
		font-size: calc(var(--size-text) * .75);
		color: var(--color-text-footer);
	}

	@if s-list.index($card-types, 'horizontal') {

		&--horizontal {
			--size-image: 100px;
			--size-text: #{font.$text-s};

			display: grid;
			grid-template-columns: var(--size-image) 1fr;
			gap: var(--spacing-inner);

			.c-card__image {
				width: var(--size-image);
				height: var(--size-image);
				object-fit: cover;
				margin-bottom: 0;
			}

			.c-card__text {
				margin-bottom: 0;
				line-height: 1.25;
			}

			.c-card__footer {
				display: none;
			}
		}
	}

}
