@use '../functions' as fn;
@use '../variables/base';
@use '../variables/color';
@use '../variables/font';
@use '../variables/transition';
@use '../placeholders';
@use '../variables/global-config';

/// Module config
$rounded: true !default;

.c-dropdown {
	position: relative;

	&__title {
		margin-right: fn.spacing(.5);
	}

	&__toggle {
		display: flex;
		align-items: center;

		@if fn.global-or-local(global-config.$rounded, $rounded) == false {
			border-radius: 0;
		}
	}

	&__menu {
		@extend %reset-list;

		--color-background: #FFF;
		--color-border: #{color.$gray-400};
		--spacing-vertical: #{fn.spacing()};
		--opacity: 0;
		--width-min: 125px;
		--width-border: 1px;
		--style-border: solid;

		position: absolute;
		opacity: var(--opacity);
		transition: transition.$speed;
		padding: var(--spacing-vertical) 0;
		background-color: var(--color-background);
		min-width: var(--width-min);
		border: var(--width-border) var(--style-border) var(--color-border);
		margin-top: 2px;

		@if fn.global-or-local(global-config.$rounded, $rounded) {
			border-radius: 4px;
		}

		&.is-active {
			--opacity: 1;
		}
	}

	&__link {
		--color-text: #{color.$gray-900};
		--color-text-hover: var(--color-text);
		--color-background-hover: #{rgba(color.$theme, .15)};
		--color-text-active: #FFF;
		--color-background-active: #{rgba(color.$theme, .75)};
		--spacing-vertical: #{fn.spacing(.5)};
		--spacing-horizontal: #{fn.spacing(1.5)};
		--size-font: #{font.$text-s};

		padding: var(--spacing-vertical) var(--spacing-horizontal);
		text-decoration: none;
		color: var(--color-text);
		width: 100%;
		display: block;
		background-color: var(--color-background);
		cursor: var(--cursor);
		transition-duration: transition.$speed-instant;
		font-size: var(--size-font);

		&:not(.is-disabled) {
			--cursor: pointer;

			&:hover {
				--color-background: var(--color-background-hover);
				--color-text: var(--color-text-hover);
			}

			&:active {
				--color-background: var(--color-background-active);
				--color-text: var(--color-text-active);
			}
		}

		&.is-active {
			--color-background: var(--theme);
			--color-text: #FFF;
		}

		&.is-disabled {
			--color-background: #{color.$gray-400};
			--color-text: #{color.$gray-600};
			--cursor: not-allowed;
		}
	}
}
