@use '../functions' as fn;

%merge-input-group-borders {

	&:not(:first-child) {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	&:not(:last-child) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.c-input-group {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	width: 100%;

	&__text,
	&__input {

		&:not(:first-child) {
			margin-left: -1px;
		}

		&:not(:last-child) {
			margin-right: -1px;
		}
	}

	&__text {
		@extend %merge-input-group-borders;

		--color-border: var(--gray-600);
		--spacing-inner-vertical: #{fn.spacing(.75)};
		--spacing-inner-horizontal: calc(var(--spacing-inner-vertical) * 2);

		display: flex;
		align-items: center;
		border-radius: 4px;
		border: 1px solid var(--color-border);
		background-color: var(--gray-200);
		padding: var(--spacing-inner-vertical) var(--spacing-inner-horizontal);
	}

	&__input {
		@extend %merge-input-group-borders;

		position: relative;
		flex: 1 1 auto;
		width: 1%;
		min-width: 0;
	}
}
