@use '../functions' as fn;
@use '../placeholders';
@use '../variables/base';
@use '../variables/transition';
@use '../variables/color';

.c-list-navigation {
	@extend %reset-list;

	--spacing-inner: #{fn.spacing(1.5)};

	color: #FFF;
	margin: {
		left: fn.negate(var(--spacing-inner));
		right: fn.negate(var(--spacing-inner));
	};

	&__item {

		a {
			color: currentColor;
		}
	}

	&__link {
		--color-link-background: transparent;

		display: block;
		padding: calc(var(--spacing-inner) / 1.25) var(--spacing-inner);
		background-color: var(--color-link-background);
		text-decoration: none;
		border-radius: base.$corner-radius;
		transition-property: color, background-color;
		transition-duration: transition.$speed-fast;

		&.is-active {
			--color-link-background: rgba(255, 255, 255, .08);

			font-weight: 600;
		}

		&:hover {
			--color-link-background: rgba(0, 0, 0, .2);
		}
	}
}
