@use '../functions' as fn;
@use '../variables/color';
@use '../variables/font';
@use '../variables/transition';

.o-sidebar {
	--spacing-content-horizontal: #{fn.spacing(3)};
	--spacing-content-vertical: #{fn.spacing(1.5)};
	--color-background: #{color.$gray-800};
	--color-background-header: #{color.$gray-900};
	--color-text: rgba(255, 255, 255, .9);
	--color-link: #FFF;

	background-color: var(--color-background);
	color: var(--color-text);
	display: flex;
	flex-direction: column;

	& > * {
		padding: var(--spacing-content-vertical) var(--spacing-content-horizontal);
	}

	&__header {
		background-color: var(--color-background-header);
		margin-bottom: calc(var(--spacing-content-vertical) / 2);
	}

	&__logo {

		img, svg {
			display: block;
			height: 30px;
			width: auto;
			padding: fn.spacing(.5) 0;
		}
	}

	&__title {
		--spacing-after: 0;

		font-size: font.$headline-s;
	}

	&__section {

		&-header {
			--spacing-after: #{fn.spacing(.5)};

			font-size: font.$text-m;
			text-transform: uppercase;
			color: var(--color-text);
		}
	}

	&__footer {
		background-color: var(--color-background-header);
		margin-top: auto;
		color: var(--color-text);
		display: block;
		text-align: center;
		text-decoration: none;
		transition: background-color transition.$speed-fast;

		&:hover {
			background-color: color.$gray-900;
		}
	}

	&.has-theme-color {
		--color-background: #{color.$theme};
		--color-background-header: #{color.$theme-dark};
	}
}
