@use '../variables/color';
@use '../variables/transition';

a {
	color: var(--link-default);
	transition: color transition.$speed-fast;

	&:link {
		color: var(--link-default);
	}

	&:visited {
		color: var(--link-visited);
	}

	&:hover {
		color: var(--link-hover);
	}

	&:focus-visible {
		color: var(--link-focus);
	}

	&:active {
		color: var(--link-active);
	}
}
