@use '../variables/color';
@use '../variables/transition';

a {
	transition: color transition.$speed-fast;

	&:not([class]) {
		color: var(--link-default);

		&:visited {
			color: var(--link-visited);
		}

		&:hover {
			color: var(--link-hover);
		}

		&:focus-visible {
			color: var(--link-focus);
		}

		&:active {
			color: var(--link-active);
		}
	}
}

