@use '../variables/color';
@use '../variables/transition';

a:not([class]) {
	color: var(--link-default);
	transition: color transition.$speed-fast;

	&:visited {
		color: var(--link-visited);
	}

	&:hover {
		color: var(--link-hover);
	}

	&:focus-visible {
		color: var(--link-focus);
	}

	&:active {
		color: var(--link-active);
	}
}
